/ClinicProjectSrc/nbproject/private/
/ClinicProjectSrc/build/
ClinicProjectSrc/build.xml
ClinicProjectSrc/manifest.mf
ClinicProjectSrc/nbproject/build-impl.xml
ClinicProjectSrc/nbproject/genfiles.properties
ClinicProjectSrc/nbproject/project.properties
ClinicProjectSrc/nbproject/project.xml
~$vanced Programming Project Proposal.docx
/test/target/
logs/2021-11-15.txt
